*{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.form-area form-sec1{
    width:50%

}

.stitle{
    font-size: 15px;
}

.gender input{
    padding: 0px 25px 0px 25px;
}
 
.input1 span{
    font-size: 15px;
}
.number span{
    font-size: 15px;
}